<%- include('../template.ejs',{mode:"header"}); %>

<h1>Settings: Controllers</h1>

<%- include('settings-template.ejs'); %>

<p>
    A Controller like a rule, it's everything between a button press and a bell ring, so all the settings.<br>
    You can edit or delete the entries.<br>
    Click "Test" to fire the controller for testing the outputs.
</p>

<p>
    These are all controllers:
</p>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Inputs</th>
        <th>Outputs</th>
        <th>Conditions</th>
        <th>Time</th>
        <th>Enabled</th>
        <th></th>
    </tr>

    <% for (let controller of controllers.values()){ %>
    <tr>
        <th><%= controller.id %></th>
        <th><%= controller.name %></th>
        <th><%= controller.inputs %></th>
        <th><%= controller.outputs %></th>
        <th><%= controller.getConditionAsString() %></th>
        <th><%= controller.getTimeAsString() %></th>
        <th><%= controller.enabled ? 'Yes' : 'No' %></th>
        <th>
            <a href="/settings/controller/edit?id=<%= controller.id %>">Edit</a>
            <a href="/settings/controller/delete?id=<%= controller.id %>">Delete</a>
            <a href="/settings/controller/test?id=<%= controller.id %>">Test</a>
        </th>
    </tr>
    <% } %>
</table>

<p>
    <a href="/settings/controller/edit">Add controller</a>
</p>

<%- include('../template.ejs',{mode:"footer"}); %>
