<%- include('../template.ejs',{
    mode:"header",
    onload: "onLoad(" + types.indexOf(input.type) + "," + pins.indexOf(input.pin) + ")"
}); %>

<script>
    function onLoad(typeIndex, pinIndex){
        document.getElementById('type').selectedIndex = typeIndex;
        document.getElementById('pin').selectedIndex = pinIndex;

        onChange();
    }

    function onChange() {
        const hardware_pin = document.getElementById('hardware_pin');
        hardware_pin.style.display = "none";
        const type = document.getElementById('type');
        if (type.value === "hardware"){
            hardware_pin.style.display = "";
        }
    }
</script>

<h1>Settings: Edit a Input</h1>

<%- include('settings-template.ejs'); %>

<p>
    A Input is everything between a button press and a bell ring, so all the settings.<br>
    Don't forget to save after editing changes.
</p>

<form action="/settings/input/edit" method="post">
    <input type="hidden" id="id" name="id" value="<%= input.id %>">
    <table>
        <tr>
            <th>Id</th>
            <th><%= input.id %></th>
        </tr>
        <tr>
            <th><label for="name">Name</label></th>
            <th><input type="text" id="name" name="name" value="<%= input.name %>"></th>
        </tr>
        <tr>
            <th><label for="description">Description</label></th>
            <th><textarea id="description" name="description" rows="2" cols="40"><%= input.description %></textarea></th>
        </tr>
        <tr>
            <th><label for="type">Type</label></th>
            <th>
                <select id="type" name="type" onchange=onChange()>
                    <% for (let t of types) { %>
                        <option value="<%= t %>"><%= t %></option>
                    <% } %>
                </select>
            </th>
        </tr>
        <tr id="hardware_pin">
            <th><label for="pin">Input pin:</label></th>
            <th>
                <select id="pin" name="pin">
                    <% for (let key of pins) { %>
                        <option value="<%= key %>"><%= key %></option>
                    <% } %>
                </select>
            </th>
        </tr>
        <tr>
            <th><label for="timeFrom">Time (from</label>/<label for="timeTo">to)</label></th>
            <th><input type="time" id="timeFrom" name="timeFrom" value="<%= input.timeFrom.toString() %>"> -
                <input type="time" id="timeTo" name="timeTo" value="<%= input.timeTo.toString() %>"></th>
        </tr>
        <tr>
            <th><label for="enabled">Enabled</label></th>
            <th><input type="checkbox" id="enabled" name="enabled" value="enabled" <%= input.enabled ? 'checked="true"' : ""%>></th>
        </tr>

    </table>

    <p>
        <input type="submit" value="Submit">
        <a href="/settings/input"> Cancel </a>
    </p>
</form>

<%- include('../template.ejs',{mode:"footer"}); %>
