<%- include('../template.ejs',{
    mode:"header",
    onload: "onLoad(" + types.indexOf(output.type) + "," + pins.indexOf(output.pin) + "," + waves.indexOf(output.wave) + ")"
}); %>

<script>
    function onLoad(typeIndex, pinIndex, waveIndex){
        document.getElementById('type').selectedIndex = typeIndex;
        document.getElementById('pin').selectedIndex = pinIndex;
        document.getElementById('wave').selectedIndex = waveIndex;

        onChange();
    }

    function onChange() {
        const audio = document.getElementById('audio');
        const hardware_pin = document.getElementById('hardware_pin');
        const hardware_repeat = document.getElementById('hardware_repeat');
        const hardware_duration = document.getElementById('hardware_duration');
        audio.style.display = "none";
        hardware_pin.style.display = "none";
        hardware_repeat.style.display = "none";
        hardware_duration.style.display = "none";
        const type = document.getElementById('type');
        if (type.value === "audio"){
            audio.style.display = "";
        } else if (type.value === "hardware"){
            hardware_pin.style.display = "";
            hardware_repeat.style.display = "";
            hardware_duration.style.display = "";
        }
    }
</script>

<h1>Settings: Edit a Output</h1>

<%- include('settings-template.ejs'); %>

<p>
    A Output is everything between a button press and a bell ring, so all the settings.<br>
    Don't forget to save after editing changes.<br>
    To disable the condition upper limit, set it to 0.
</p>

<form action="/settings/output/edit" method="post">
    <input type="hidden" id="id" name="id" value="<%= output.id %>">
    <table class="table dgdatatable">
        <tr>
            <td>Id</td>
            <td><%= output.id %></td>
        </tr>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" id="name" name="name" value="<%= output.name %>"></td>
        </tr>
        <tr>
            <td><label for="description">Description</label></td>
            <td><textarea id="description" name="description" rows="2" cols="40"><%= output.description %></textarea></td>
        </tr>
        <tr>
            <td><label for="type">Type</label></td>
            <td>
                <select id="type" name="type" onchange=onChange()>
                    <% for (let t of types) { %>
                        <option value="<%= t %>"><%= t %></option>
                    <% } %>
                </select>
            </td>
        </tr>
        <tr id="audio">
            <td><label for="wave">Audio file</label></td>
            <td>
                <select id="wave" name="wave">
                    <% for (let wave of waves) { %>
                        <option value="<%= wave %>"><%= wave %></option>
                    <% } %>
                </select>
            </td>
        </tr>
        <tr id="hardware_pin">
            <td><label for="pin">Output pin:</label></td>
            <td>
                <select id="pin" name="pin">
                    <% for (let key of pins) { %>
                        <option value="<%= key %>"><%= key %></option>
                    <% } %>
                </select>
            </td>
        </tr>
        <tr id="hardware_repeat">
            <td><label for="repeat">Repeat:</label></td>
            <td><input type="number" id="repeat" name="repeat" value="<%= output.repeat %>"></td>
        </tr>
        <tr id="hardware_duration">
            <td><label for="duration">Duration:</label></td>
            <td><input type="number" id="duration" name="duration" value="<%= output.duration %>"></td>
        </tr>
        <tr>
            <td><label for="timeFrom">Time (from</label>/<label for="timeTo">to)</label></td>
            <td><input type="time" id="timeFrom" name="timeFrom" value="<%= output.timeFrom.toString() %>"> -
                <input type="time" id="timeTo" name="timeTo" value="<%= output.timeTo.toString() %>"></td>
        </tr>
        <tr>
            <td><label for="enabled">Enabled</label></td>
            <td><input type="checkbox" id="enabled" name="enabled" value="enabled" <%= output.enabled ? 'checked="true"' : ""%>></td>
        </tr>

    </table>

    <p>
        <input type="submit" value="Submit">
        <a href="/settings/output"> Cancel </a>
    </p>
</form>

<%- include('../template.ejs',{mode:"footer"}); %>
