<%- include('template.ejs',{mode:"header"}); %>

<h1>About Doorguard</h1>

<p>
    This system is currently running under the following OS:<br>
    type: <%= os.type() %><br>
    release: <%= os.release() %><br>
    platform: <%= os.platform() %><br>
</p>
<p>
    <% if (os.release().includes("rpi")) { %>
        This instance is running on the actual doorguard hardware, so every feature is available.
    <% } else { %>
        This instance is running on a PC, not the doorguard hardware, so all hardware related features will be disabled.
    <% } %>
</p>

<%- include('template.ejs',{mode:"footer"}); %>
