<%- include('template.ejs',{mode:"header"}); %>

<h1> Log </h1>

<!-- auswahlmenu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
            <a href="/log?nr=5" class="link-primary nav-item nav-link"> last 5 </a>

            <a href="/log?nr=20" class="link-primary nav-item nav-link"> last 20 </a>

            <a href="/log?nr=100" class="link-primary nav-item nav-link"> last 100 </a>

            <a href="/log?nr=0" class="link-primary nav-item nav-link"> all logs </a>
    </div>
</nav>


<hr>

<!-- die Tabelle -->

<p>
    <% if(nr != 0){ %>
        Last <%= nr %> events:
    <% } else { %>
        All events:
    <% } %>

</p>

<table class="table table-striped dgdatatable">
    <thead class="thead-light">
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Type</th>
        </tr>
    </thead>

    <% for(let event of events){ %>
        <tr>
            <td>
                <% let ts = event.timestamp %>
                <span class="fst-italic"><%= ts.getFullYear() %>.<%= ts.getMonth() + 1 %>.<%= ts.getDate() %></span>
                <span class="tshour fw-bold"><%= ts.toLocaleTimeString().split(":")[0] %></span>:<span class="tsminute fw-bold"><%= ts.toLocaleTimeString().split(":")[1] %></span>:<span class="tssecond"><%= ts.toLocaleTimeString().split(":")[2] %></span>
            </td>
            <td><%= event.type %></td>
        </tr>
    <% } %>
</table>

<%- include('template.ejs',{mode:"footer"}); %>
